{% extends 'food/base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img height="150px"  src="{{item01.itemimage}}" class="card"/>
        </div>
        <div class="col-md-6">
            <h1>{{ item01.itemname}}</h1>
            <h1>{{ item01.itemdesc}}</h1>
            <h1>Rs{{ item01.itemprice}}</h1>
            <a href="{% url 'food:Delete_item' item01.id %}">Delete</a>           
        </div>
    </div>
</div>
{% endblock %}  

